[submodule "vendor/plugins/system_settings"]
	path = vendor/plugins/system_settings
	url = git://github.com/veridit/system_settings.git
[submodule "vendor/plugins/schema_validations"]
	path = vendor/plugins/schema_validations
	url = git://github.com/veridit/schema_validations.git
[submodule "vendor/plugins/restful_transactions"]
	path = vendor/plugins/restful_transactions
	url = git://github.com/veridit/restful_transactions.git
[submodule "vendor/plugins/redhillonrails_core"]
	path = vendor/plugins/redhillonrails_core
	url = git://github.com/veridit/redhillonrails_core.git
[submodule "vendor/plugins/foreign_key_migrations"]
	path = vendor/plugins/foreign_key_migrations
	url = git://github.com/veridit/foreign_key_migrations.git
[submodule "vendor/plugins/foreign_key_associations"]
	path = vendor/plugins/foreign_key_associations
	url = git://github.com/veridit/foreign_key_associations.git
